.home {
    background-image: url("src/assets/homen.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Cor dos botões de Navegação*/
:root {
    --swiper-theme-color: #ffffff;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  .swiper {
    height: 60vh;
    margin: 0;
    background-color: transparent;
  }
  
  
  .swiper-slide-img {
    display: block;
    width: 50%;
    height: 20%;
    object-fit: cover;

  }

  .link {
    display: flex;
    justify-content: center;
  }

  

  
